Repository sharvin3007/react-starter-kit: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint --fix, prettier --write

feat(app: React-Starter): adds pages and router config with dummy routes and updates main file
  .cspell/project-words.txt
  src/App.tsx
  src/main.tsx
  src/pages/Home.tsx
  src/pages/Landing.tsx
  src/pages/index.ts
  src/route/Router.tsx
  src/route/Routes.ts
  src/route/index.ts
Due: yarn lint --fix, prettier --write

chore: updates linting and prettier rules and updates yarn.lock
  .prettierrc
  eslint.config.js
  package.json
  yarn.lock
Due: yarn lint --fix, prettier --write

chore: updates linting and prettier rules and adds dummy tests
  .husky/pre-push
  package.json
  tests/addition/sum.test.ts
  tests/addition/sum.ts
  yarn.lock
Due: yarn lint --fix, prettier --write

chore: updates package.json
  package.json
Due: prettier --write

chore: adds test-coverage
  package.json
  yarn.lock
Due: prettier --write

chore: updates pre-push lint-staged file
  .husky/pre-push
Due: none

feat(app: Storybook): adds storybook and initialises stories for atomic component structure
  .cspell/project-words.txt
  .gitignore
  .storybook/main.ts
  .storybook/preview.ts
  package-lock.json
  package.json
  vite.config.ts
  yarn.lock
Due: yarn lint --fix, prettier --write

feat(app: Assets): adds design-system base assets
  src/design-system/assets/accessibility.png
  src/design-system/assets/accessibility.svg
  src/design-system/assets/addon-library.png
  src/design-system/assets/assets.png
  src/design-system/assets/avif-test-image.avif
  src/design-system/assets/context.png
  src/design-system/assets/discord.svg
  src/design-system/assets/docs.png
  src/design-system/assets/figma-plugin.png
  src/design-system/assets/github.svg
  src/design-system/assets/share.png
  src/design-system/assets/styling.png
  src/design-system/assets/testing.png
  src/design-system/assets/theming.png
  src/design-system/assets/tutorials.svg
  src/design-system/assets/youtube.svg
Due: none

feat(app: Design-System): adds base components like button, header, template and pages
  src/design-system/components/atoms/button/Button.stories.ts
  src/design-system/components/atoms/button/Button.tsx
  src/design-system/components/atoms/button/Button.types.ts
  src/design-system/components/atoms/button/button.css
  src/design-system/components/atoms/button/index.ts
  src/design-system/components/atoms/index.ts
  src/design-system/components/organisms/header/Header.stories.ts
  src/design-system/components/organisms/header/Header.tsx
  src/design-system/components/organisms/header/Header.types.ts
  src/design-system/components/organisms/header/header.css
  src/design-system/components/organisms/header/index.ts
  src/design-system/components/organisms/index.ts
  src/design-system/components/pages/index.ts
  src/design-system/components/pages/landingPage/LandingPage.stories.ts
  src/design-system/components/pages/landingPage/LandingPage.tsx
  src/design-system/components/pages/landingPage/index.ts
  src/design-system/components/templates/baseLayout/BaseLayout.stories.ts
  src/design-system/components/templates/baseLayout/BaseLayout.tsx
  src/design-system/components/templates/baseLayout/BaseLayout.types.ts
  src/design-system/components/templates/baseLayout/baseLayout.css
  src/design-system/components/templates/baseLayout/baseLayout.stories.data.ts
  src/design-system/components/templates/baseLayout/index.ts
  src/design-system/components/templates/index.ts
Due: yarn lint --fix, prettier --write

chore: updates project dictionary words
  .cspell/project-words.txt
Due: none

chore: updates yarn.lock after running yarn install
  yarn.lock
Due: none

chore: adds chromatic and updates preview.tsx for publishing storybook and carry out visual tests
  .storybook/main.ts
  README.md
  package.json
  yarn.lock
Due: yarn lint --fix, prettier --write

chore: refactors styles, adds link component and updates stories files for atoms and organisms
  src/design-system/components/atoms/button/Button.stories.tsx
  src/design-system/components/atoms/index.ts
  src/design-system/components/atoms/link/Link.stories.tsx
  src/design-system/components/atoms/link/Link.tsx
  src/design-system/components/atoms/link/Link.types.ts
  src/design-system/components/atoms/link/index.ts
  src/design-system/components/atoms/link/link.css
  src/design-system/components/index.ts
  src/design-system/components/organisms/header/Header.stories.tsx
  src/design-system/components/organisms/header/Header.tsx
  src/design-system/components/organisms/header/Header.types.ts
  src/design-system/components/organisms/header/header.css
Due: yarn lint --fix, prettier --write

chore: refactors styles and stories for pages and templates
  src/design-system/components/pages/homePage/HomePage.stories.tsx
  src/design-system/components/pages/homePage/HomePage.tsx
  src/design-system/components/pages/homePage/HomePage.types.ts
  src/design-system/components/pages/homePage/index.ts
  src/design-system/components/pages/landingPage/LandingPage.stories.ts
  src/design-system/components/pages/landingPage/LandingPage.stories.tsx
  src/design-system/components/pages/landingPage/LandingPage.tsx
  src/design-system/components/pages/landingPage/LandingPage.types.ts
  src/design-system/components/pages/landingPage/landingPage.stories.data.tsx
  src/design-system/components/templates/baseLayout/BaseLayout.stories.ts
  src/design-system/components/templates/baseLayout/BaseLayout.stories.tsx
  src/design-system/components/templates/baseLayout/BaseLayout.tsx
  src/design-system/components/templates/baseLayout/BaseLayout.types.ts
  src/design-system/components/templates/baseLayout/baseLayout.css
  src/design-system/components/templates/baseLayout/baseLayout.stories.data.ts
  src/design-system/components/templates/baseLayout/baseLayout.stories.data.tsx
Due: yarn lint --fix, prettier --write

feat(app: React-App): updates pages to use design-system components and adds navigate hook
  src/App.css
  src/design-system/components/organisms/header/header.css
  src/design-system/components/pages/landingPage/LandingPage.tsx
  src/index.css
  src/pages/Landing.tsx
Due: yarn lint --fix, prettier --write

chore: updates readMe and package.json
  README.md
  package.json
Due: prettier --write

chore: removes unnecessary assets, updates ReadMe and creates chromatic-config
  README.md
  chromatic.config.json
  src/design-system/assets/accessibility.png
  src/design-system/assets/accessibility.svg
  src/design-system/assets/addon-library.png
  src/design-system/assets/assets.png
  src/design-system/assets/avif-test-image.avif
  src/design-system/assets/context.png
  src/design-system/assets/discord.svg
  src/design-system/assets/docs.png
  src/design-system/assets/figma-plugin.png
  src/design-system/assets/github.svg
  src/design-system/assets/share.png
  src/design-system/assets/styling.png
  src/design-system/assets/testing.png
  src/design-system/assets/theming.png
  src/design-system/assets/tutorials.svg
  src/design-system/assets/youtube.svg
Due: prettier --write

feat(app: Tests): creates visual regression tests for atcomponents and published new storybook version
  src/design-system/components/atoms/button/Button.stories.tsx
  src/design-system/components/atoms/button/Button.tsx
  src/design-system/components/atoms/button/Button.types.ts
  src/design-system/components/atoms/button/button.css
  src/design-system/components/atoms/link/Link.stories.tsx
  src/design-system/components/atoms/link/Link.tsx
  src/design-system/components/organisms/header/Header.stories.tsx
  src/design-system/components/organisms/header/Header.tsx
  src/design-system/components/organisms/header/header.css
Due: yarn lint --fix, prettier --write

chore: updates file path to be included in src directory and refactors imports
  .storybook/main.ts
  src/assets/vite.svg
  src/design-system/components/organisms/header/Header.tsx
Due: yarn lint --fix, prettier --write

chore: updates page structure for react app and isolates styles, updates router config
  .cspell/project-words.txt
  src/design-system/components/templates/baseLayout/BaseLayout.tsx
  src/pages/Home.tsx
  src/pages/Landing/LandingPage.tsx
  src/pages/Landing/index.ts
  src/pages/Landing/landingPage.css
  src/pages/TechnicalAssessment/TechnicalAssessmentPage.tsx
  src/pages/TechnicalAssessment/index.ts
  src/pages/TechnicalAssessment/technicalAssessment.css
  src/pages/index.ts
  src/route/Router.tsx
  src/route/Routes.ts
Due: yarn lint --fix, prettier --write

chore: updates ReadMe.md
  README.md
Due: prettier --write

chore: updates ReadMe.md with aesthetics
  README.md
Due: prettier --write

chore: updates page name to be symantically accurate and refactors importss
  src/pages/Landing/LandingPage.tsx
  src/pages/Playground/PlaygroundPage.tsx
  src/pages/Playground/index.ts
  src/pages/Playground/playgroundPage.css
  src/pages/TechnicalAssessment/TechnicalAssessmentPage.tsx
  src/pages/TechnicalAssessment/index.ts
  src/pages/index.ts
  src/route/Router.tsx
  src/route/Routes.ts
Due: yarn lint --fix, prettier --write

chore: updates css imports
  src/design-system/components/atoms/link/Link.tsx
Due: yarn lint --fix, prettier --write

chore: deploys to vercel free tier platform and updates readMe
  README.md
Due: prettier --write

chore: updates styles to improve responsiveness
  README.md
  src/design-system/components/organisms/header/Header.tsx
  src/design-system/components/organisms/header/header.css
  src/design-system/components/templates/baseLayout/BaseLayout.tsx
  src/pages/Landing/LandingPage.tsx
  src/pages/Landing/landingPage.css
Due: yarn lint --fix, prettier --write

chore: updates styles for mobile responsiveness
  src/pages/Landing/landingPage.css
Due: prettier --write

chore: adds axios for fetching and creates api folder structure
  .cspell/project-words.txt
  package.json
  src/api/baseApi.ts
  src/api/methods.ts
  src/api/types.ts
  yarn.lock
Due: yarn lint --fix, prettier --write

chore: adds dummy-commented code to display pokemon and doc-string
  src/pages/Playground/PlaygroundPage.tsx
Due: yarn lint --fix, prettier --write

chore: adds theme provider and uses useTheme hook by wrapping components
  src/providers/ThemeProvider/ThemeProvider.tsx
  src/providers/ThemeProvider/ThemeProvider.types.ts
  src/providers/ThemeProvider/index.ts
Due: yarn lint --fix, prettier --write

chore: wraps themeProvider around playground page to utilise the hooks
  src/pages/Playground/PlaygroundPage.tsx
  src/pages/Playground/playgroundPage.css
Due: yarn lint --fix, prettier --write

chore: updates styles and removes extra ThemeProvider wrapper
  src/pages/Playground/PlaygroundPage.tsx
  src/pages/Playground/playgroundPage.css
Due: yarn lint --fix, prettier --write

feat(app: Tsconfig): updates tsconfig for path aliases for cleaner imports and refactors wrapping ThemeProvider
  src/App.tsx
  src/globalStyles/global.css
  src/pages/Landing/LandingPage.tsx
  src/pages/Playground/PlaygroundPage.tsx
  src/pages/Playground/playgroundPage.css
  tsconfig.app.json
  vite.config.ts
Due: yarn lint --fix, prettier --write

feat(app: Routes): updates path aliases and refactors button styles and header UI
  src/design-system/components/atoms/button/Button.tsx
  src/design-system/components/atoms/button/button.css
  src/design-system/components/organisms/header/Header.tsx
  src/design-system/components/organisms/header/header.css
  src/design-system/components/organisms/header/index.ts
  src/design-system/components/pages/homePage/HomePage.tsx
  src/design-system/components/pages/landingPage/LandingPage.tsx
  src/design-system/components/templates/baseLayout/BaseLayout.tsx
  src/route/Router.tsx
Due: yarn lint --fix, prettier --write

chore: create utility hooks for windowResize and updates component styles
  src/design-system/components/atoms/button/Button.tsx
  src/design-system/components/organisms/header/Header.tsx
  src/globalStyles/global.css
  src/utils/hooks/useWindowSize.ts
Due: yarn lint --fix, prettier --write

Path conditions:
  yarn lint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{css,json,yml,md})
